<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.sbi.SBIFreedomPlus">
  <!-- Isolated emulator fixture, never part of the product APK or release. -->
  <uses-sdk android:minSdkVersion="24" android:targetSdkVersion="28" />
  <application android:label="Mock bank for CI only" android:theme="@android:style/Theme.Material.Light.NoActionBar">
    <activity android:name=".MockBank" android:exported="true" />
  </application>
</manifest>
